* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  .dashboard,
  .friends,
  .home,
  .settings,
  .information {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
  }


  .home{
    display:flex;
    flex-direction: column;
    background-color: gray;
    /* margin-left: 4rem;*/
    height: 70vh;
    width: 80%;
    padding:2rem;
  }
  .home > h2{
    color: black;
  }

  .home > p{
    color: yellow;
    font-size: 1.5rem;
    color: black;
    padding: 1.5rem;
  }
  
  .portforlioButton{
  margin-top: 2rem;
  background-color: #2181BD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }